<footer>

    <div class="footer-components social-media-icons">

        <i class="fa-brands fa-square-facebook"></i>

        <i class="fa-brands fa-square-instagram"></i>

        <i class="fa-brands fa-linkedin"></i>

    </div>

    <div class="footer-components" style="margin-top: 20px;">
        
        <p>© WanderLust Private Limited</p>

    </div>

    <div class="footer-components">

        Privacy Terms

    </div>


</footer>