body {

    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {

    flex: 1;
}

.navbar {

    /* height: 4rem; */
    background-color: white;
}


.fa-compass {

    color: rgb(253, 38, 75);
    scale: 2;
    margin-left: 20px;
}

.nav-link {

    color: #222222 !important;
}

/* Cards */


.card {

    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {


    height: 200px !important;
    width: 100% !important;

    border-radius: 1rem !important;
}

.card-img-top:hover {

    opacity: 0.8;
}

.card-body {

    margin-top: 10px;
    padding: 0 !important;
}

.card-text {

    font-weight: 400 !important;
}

.add-btn {

    background-color: rgb(253, 38, 75) !important;
    border: none !important;
}


/* SHOW PAGE  */

.show-img{

    height: 30vh !important;
}

.btns{

    display: flex;
}